<div class="contForm">
    <div class="container">
        <h1>Contattami</h1>
        <form class="form1" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <label for="Nome">Nome</label>
            <input type="text" formControlName="nome">
            <label for="Cognome">Cognome</label>
            <input type="text" formControlName="cognome">
            <label for="dNascita">Data di nascita</label>
            <input type="date" formControlName="dNascita">
            <label for="username">ID</label>
            <input type="text" formControlName="usernane">
            <label for="password">PW</label>
            <input type="password" formControlName="password" required pattern = "[A-Z]{3}[0-9]{2}[a-z]{2}"> <br>
            <button type="submit" [disabled]="!myForm.valid">Invia</button>            
        </form>
    </div>
</div>

