.contForm{
    display: flex;
    justify-content: center;
    width: 100%;    
}

.container{
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    background-color: aqua;
}

.form1{
    display: flex;
    flex-direction: column;
}

.form1 > input {
    margin-bottom: 5px;
}