.container {
    display: flex;
    justify-content: center;    
    min-height: 89.3vh;
} 

section {
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.testata {
    display: flex;
}

.foto{
    padding-right: 24px;
}

.foto img{
    max-width: 10rem;
    max-height: 10rem;
    border: 0.25rem solid #004b80;
    border-radius: 100%;
}

.titoli{
    padding-left: 24px;
}

.nomecognome{
    display: flex;
    font-size: 3rem;
}

.nome{
    color: #343a40;
}

.cognome{
    color: #004b80;
}

.recapiti{
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.15rem;
    margin-bottom: 3rem;
}

.recapiti span {
    margin: 0 3px;
}

.presentazione{
    font-size: 1.15rem;
    text-align: justify;
}

.social-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

@media only screen and (max-width: 1199.98px) {
    .foto {
        padding-right: 12px;
    }
    .titoli {
        padding-left: 12px;
    }
    .nomecognome {
        font-size: 2.5rem;
    }
}
    
@media only screen and (max-width: 991.98px) {
    section{
        padding: 2rem 2rem;
    }
    .testata {
        display: block;
        
    }
    .foto {
        display: flex;
        padding-right: 0;
        margin-bottom: 3rem;
        justify-content: center;
    }
    .nomecognome{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 50px;
        font-size: 2rem;
    }

    .titoli {
        padding-left: 0;
    }

    .recapiti {
        justify-content: center;
    }
}

@media only screen and (max-width: 767.98px) {
    section{
        padding: 2rem 1.5rem;
    }
}

@media only screen and (max-width: 575.98px) {
    .foto, .nomecognome, .recapiti {
        margin-bottom: 1rem;
    }

}
