<div class="container">
    <section>
        <div class="testata">
            <h2>Interessi</h2>
        </div>
        <p>
            Innanzi tutto sono appassionato di Musica e i generi che prediliggo sono la Fusion anni 80/90 e l'Elettronica anni 90, quando era ancora prodotta
            con hardware dedicati e non simulati. Mi diletto a Suonare la batteria, la chitarra, il basso e se c'è bisognio di cantare mi dedico anche al canto. <br>
            Estimatore di Cinema, ma prediliggo la fantascienza e film fatti in Found footage, anche se non denigro i classici e cult. <br>
            Passione per l'Alta Fedeltà (almeno per quell'che si può), la Fotografia, per i Motori fin da giovanissima età, sporadicamente per il Modellismo statico, 
            lìLettore e appassionato di Videogames.
        </p>
    </section>
</div>