<div class="container">
    <section>
        <div class="testata">
            <h2>Interessi</h2>
        </div>
        <p>Appassionato e cultore di musica a 360°, suono la batteria, chitarra
            d'accompagnamento, basso, canto, sono un produttore musicale amatoriale e
            audiofilo. Appassionato di cinema, fotografia a livello amatoriale, motori fin da
            bambino, videogames e sempre aggiornato su innovazioni tecnologiche.
            Smontato il mio primo pc a 9 anni e configurato e assemblato da zero a 15
            anni.
        </p>
    </section>
</div>