<div class="container">
    <section>
        <div class="testata">
            <h2>Riconoscimenti</h2>
        </div>
        <div class="riconoscimenti">
            <p style="margin-right: 8px;">🏆</p>
            <p>
                Encomio da parte del Consigliere Aniello Nappi, Presidente della 7° Commissione del Consiglio Superiore della Magistratura. <br>
                "Attesto che il sig. Tiziano Occhionero, durante la mia presidenza della Settima Commissione ha realizzato il progetto grafico, dall'ideazione all'impaginazione, della pubblicazione
                "Circolare sulla formazione delle tabelle di organizzazione degli uffici giudicanti per il triennio 2012/2014". Mi preme precisare che il progetto grafico è stato 
                realizzato con professionalità, precisione ed ha ampliamente soddisfatto le aspettative" <br><br>
                Dicembre 2012.
            </p>
        </div>
        <div class="riconoscimenti">
            <p style="margin-right: 8px;">🏆</p>
            <p>
                Encomio da parte del Consigliere Prof. Glauco Giostra. <br> 
                "Attesto che il sig. Tiziano Occhionero ha elaborato il progetto grafico, dall'ideazione all'impaginazione, per la pubblicazione della Relazione della Commissione mista 
                per lo studio dei problemi della magistratura di sorveglianza, istituita dal Consiglio Superiore della Magistratura e da me presieduta, presentata al 
                Salone della Giustizia il 29 novembre 2012." <br>
                Il progetto grafico è stato realizzato con molta professionalità e, benchè commissionato con tempi molto ristretti, ha ampiamente soddisfatto le aspettative <br><br>
                Dicembre 2012
            </p>
        </div>
    </section>
</div>
