<nav>            
    <button routerLink="" routerLinkActive="acceso" [routerLinkActiveOptions]="{exact: true}">.chiSono</button>
    <button routerLink="portfolioweb" routerLinkActive="acceso">.portfolioWeb</button>
    <button routerLink="portfolioeditoriale" routerLinkActive="acceso">.portfolioEditoriale</button>
    <button routerLink="esperienze" routerLinkActive="acceso">.esperienze</button>
    <button routerLink="studi" routerLinkActive="acceso">.istruzione</button> 
    <button routerLink="skills" routerLinkActive="acceso">.skills</button>
    <button routerLink="interessi" routerLinkActive="acceso">.interessi</button>
    <button routerLink="riconoscimenti" routerLinkActive="acceso">.riconoscimenti</button>
    <button>curriculumPdf</button>
</nav>
