<nav style="padding-top: 10px; padding-bottom: 0;">            
    <button routerLink="" routerLinkActive="acceso">Chi sono</button>
    <button routerLink="portfolioweb" routerLinkActive="acceso">Portfolio Web</button>
    <button routerLink="portfolioeditoriale" routerLinkActive="acceso">Portfolio Editoriale</button>
    <button routerLink="esperienze" routerLinkActive="acceso">Esperienze</button>
    <button routerLink="studi" routerLinkActive="acceso">Istruzione</button>
</nav>
<nav style="padding-bottom: 10px;">
    <button routerLink="skills" routerLinkActive="acceso">Skills</button>
    <button routerLink="interessi" routerLinkActive="acceso">Interessi</button>
    <button routerLink="riconoscimenti" routerLinkActive="acceso">Riconoscimenti</button>
    <button>Curriculum Pdf</button>        
</nav>