<!--
<nav>            
    <button routerLink="" routerLinkActive="acceso" [routerLinkActiveOptions]="{exact: true}">.chiSono</button>
    <button routerLink="portfolioweb" routerLinkActive="acceso">.portfolioWeb</button>
    <button routerLink="portfolioeditoriale" routerLinkActive="acceso">.portfolioEditoriale</button>
    <button routerLink="esperienze" routerLinkActive="acceso">.esperienze</button>
    <button routerLink="studi" routerLinkActive="acceso">.istruzione</button> 
    <button routerLink="skills" routerLinkActive="acceso">.skills</button>
    <button routerLink="interessi" routerLinkActive="acceso">.interessi</button>
    <button routerLink="riconoscimenti" routerLinkActive="acceso">.riconoscimenti</button>
    <a href="../assets/CV-Tiziano-Occhionero.pdf" target="_blank">.scaricaCv</a>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">. . .</span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto flex-wrap flex-row">
            <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="acceso" [routerLinkActiveOptions]="{exact: true}">.chiSono</a>
            </li>
            <li class="nav-item">
            <a class="nav-link"routerLink="portfolioweb" routerLinkActive="acceso">.portfolioWeb</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="portfolioeditoriale" routerLinkActive="acceso">.portfolioEditoriale</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="esperienze" routerLinkActive="acceso">.esperienze</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="studi" routerLinkActive="acceso">.istruzione</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="skills" routerLinkActive="acceso">.skills</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="interessi" routerLinkActive="acceso">.interessi</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="riconoscimenti" routerLinkActive="acceso">.riconoscimenti</a>
            </li>
        </ul>
    </div>
  </nav>  