<div class="container">
    <section>
        <div class="testata">
            <h2>Esperienze professionali</h2>
        </div>
        <div class="espFor" *ngFor="let item of datiEsp">
            <div class="titoloData">
                <h3>{{item.title}}</h3>
                <p>{{item.quando}}</p>
            </div>            
            <div class="dove">
                <h4>{{item.dove}}</h4>
                <p>{{item.tipo}}</p>
            </div>            
            <p>{{item.cosa}}</p>
             
        </div>
    </section>
</div>