<!--  

<div class="container">
    <section>
        <div class="testata">
            <h2>Skills</h2>
        </div>
        <div class="espFor" *ngFor="let item of ambito">            
            <h3>{{item.title}}</h3>
            <div class="loghi">
                <img src="{{item.img}}">
            </div> 
        </div>
    </section>
</div>

-->

<div class="container">
    <section>
        <div class="testata">
            <h2>Skills</h2>
        </div>
        <div class="espFor" *ngFor="let item of ambito">            
            <h3>{{item.title}}</h3> <br>          
            <img class="loghi" src="{{logo.img}}" title="{{logo.title}}" *ngFor="let logo of item.loghi">            
        </div>
    </section>
</div>

