.container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 88vh;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.testata {
    display: flex;
}

h2 {
    font-size: 3.5rem;
    color: #343a40;
    margin-bottom: 3rem;    
}


h3 {
    font-weight: 500;
    color: #6c757d;
}

.espFor {
    margin-bottom: 2.5rem;
}

img {
    margin: -5px 10px 0 0;
}

@media only screen and (max-width: 991.98px) {
    h2 {
        font-size: 3rem;
        margin-bottom: 2.5rem;   
    }
}

@media only screen and (max-width: 767.98px) {
    section{
        padding: 2rem 1.5rem;
    } 
}

@media only screen and (max-width: 575.98px) {
    img {
        margin-bottom: 5px;
    }
}